<style>
    .mb-4 {
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        {% comment %} top: -340px; {% endcomment %}
    }
    
    .notice {
        margin: 50px;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-left: 220px;
        position: relative;
        {% comment %} top: -340px; {% endcomment %}
    }
    
    .desc {
        padding: 15px;
        text-align: center;
        border: 1px solid #ccc;
    }
    
    .desc:hover {
        border: 1px solid #777;
    }
{% comment %}     .firstdivision {
        background:blue;
    } {% endcomment %}

    .add_notice {
        padding: 15px;
        text-align:right;
        align:right;
        margin-right:370px;

    }
</style>
<body>

<div class="firstdivision">
    <h2 class="mb-4">Pulchowk Campus</h2>

    <div class="notice">
        <ul style="list-style-type:none;">

            <li>
                <div class="desc">Notice detail here</div>
            </li>
        </ul>
    </div>

</div>

<div class="add_notice">
{% comment %} <button type="button">Add Notices</button> {% endcomment %}
<form  action="{% url "index" %}" method="post" enctype="multipart/form-data">
<input type="button"  value="Add Notice" onclick="document.getElementById('file').click();" />
<input type="file" style="display:none;" id="file" name="file"/>
</form>
</div>
</body>