{% extends "web/base.html" %} {%block title %} Profile {% endblock %} {% block content %} {%include "web/side.html"%}

<h3>
    {{context.last_Name}}
</h3>
<div>

    <!-- <p>{{context.category}}</p> -->
    <p>
        <img src="{{context.photo.url}}">
    </p>
    <p>Name: {{context.first_name}} {{context.last_name}}</p>
    <!-- <p>{{context.middle_name}}</p> -->
    <p>Email: {{context.email_Id}}</p>
    <p>DOB: {{context.dob}}</p>
    <p>Gender: {{context.gender}}</p>
    <p>Contact No: {{context.phone_Num}}</p>

</div>

{% endblock %}